body{
    background-color:aliceblue;
}
nav{
 background-color:rgb(73, 62, 78); 
}
.navbar-nav .nav-link {
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    color: rgb(246, 171, 9);
  }
  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: #3508ea; /* Change color on hover */

  }
#hero {
  background: url('image/bback.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  color:aliceblue;
}
.hero-container {
  text-align: left;
  max-width: 600px;
  margin-left: 20px;
  z-index: 1;
}
.btn-scroll {
  margin-top: 20px;
  display: inline-block;
}
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    
}
 

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

  @media only screen and (max-width: 800px) {
    .toggle {
        height: 50px;}
    }
    .social-icons img {
      width: 32px;
      margin: 5px;
    }
    .content-wrapper {
      padding-top: 80px;
    }
   
.card {
  border-radius: 15px; 
  margin-top: 5px; 
}

.btn-primary {
  background-color:rgb(9, 144, 206);
  border-color: #0a0b0c; 
}

.btn-primary:hover {
  background-color: #000000; 
}

.form-control {
  border-radius: 10px; 
}
/* css castum dari pengalaman */
.blog {
  margin-top: 70px; 
}
.social-icons img {
  width: 32px;
  margin-right: 10px;
}
.btn-more {
  background-color: darkviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-more:hover {
  background-color: darkorange;
}